DATABASE_URL='postgresql://neondb_owner:npg_DfB5i8pJKoGg@ep-round-dream-a7o5il8h-pooler.ap-southeast-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_d2VsY29tZS1kaW5nby0xLmNsZXJrLmFjY291bnRzLmRldiQ"
CLERK_SECRET_KEY="sk_test_5ousaUBRSgDlOqXbQhvVyK5JaTgXi8igtzEF4KCVfh"


NEXT-PUBLIC_iMAGEKIT_PUBLIC_KEY="public_EtgkOqqx2tJ21nEazIxIJWhduNg="
IMAGEKIT_PRIVATE_KEY="private_FRfgMfmnywL47lIRw6UkVpxoP88="
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT="https://ik.imagekit.io/yq4h8jmh8/"

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

NEXT_PUBLIC_APP_URL=http://localhost:3000